<h2>CRUD de Criterios</h2>
<div>
    <p>ID_proyecto: <br><input type="number" min="0" [(ngModel)]="crit.id_proyecto"></p>
    <p>ID: <br><input type="number" min="0" [(ngModel)]="crit.id"></p>
    <p>Nombre:<br> <input type="text" [(ngModel)]="crit.nombre"></p>
    <p>Objetivo: <br><textarea rows="10" cols="50" [(ngModel)]="crit.descripcion"></textarea></p>
    <p class="botones">
        <button (click)="agregar()">Agregar</button>
        <button (click)="consultar()">Consultar</button>
        <button (click)="modificar()">Modificar</button>
        <button (click)="borrar()">Eliminar</button>
    </p>
</div>

<h3>Lista de Criterios</h3>
@if(hayRegistros()) {
    <table>
        <thead>
            <tr>
                <th>ID_Proj</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @for(crit of projects;track crit.id) {
                <tr>
                    <td>{{ crit.id_proyecto }}</td>
                    <td>{{ crit.id }}</td>
                    <td>{{ crit.nombre }}</td>
                    <td>{{ crit.descripcion }}</td>
                    <td><button (click)="seleccionar(crit)">Seleccionar</button></td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p>No hay criterios registrados</p>
}
